.DS_Store
*.o
/festival/bin/festival
/festival/bin/festival_client
/festival/bin/festival_server
/festival/bin/festival_server_control
/festival/bin/text2wave
/festival/config.cache
/festival/config.log
/festival/config.status
/festival/config/config
/festival/doc/festival.1
/festival/doc/festival_client.1
/festival/make.include
/festival/lib/fringe.scm
/festival/config/modincludes.inc
/festival/config/system.mak
/festival/examples/dumpfeats
/festival/examples/durmeanstd
/festival/examples/latest
/festival/examples/make_utts
/festival/examples/powmeanstd
/festival/examples/run-festival-script
/festival/examples/saytime
/festival/examples/scfg_parse_text
/festival/examples/text2pos
/festival/examples/text2wave
/festival/lib/cstr.scm
/festival/lib/etc/x86_64_Darwin/.made
/festival/lib/etc/x86_64_Darwin/audsp
/festival/lib/siod.scm
/festival/lib/web.scm
/festival/src/arch/festival/.buildlib_Festival
/festival/src/arch/festival/make.depend
/festival/src/lib/libFestival.a
/festival/src/main/festival
/festival/src/main/festival_client
/festival/src/main/make.depend
/festival/src/modules/.buildlib_Festival
/festival/src/modules/Duration/.buildlib_Festival
/festival/src/modules/Duration/make.depend
/festival/src/modules/Intonation/.buildlib_Festival
/festival/src/modules/Intonation/make.depend
/festival/src/modules/Lexicon/.buildlib_Festival
/festival/src/modules/Lexicon/make.depend
/festival/src/modules/MultiSyn/.buildlib_Festival
/festival/src/modules/MultiSyn/inst_tmpl/.buildlib_Festival
/festival/src/modules/MultiSyn/inst_tmpl/make.depend
/festival/src/modules/MultiSyn/make.depend
/festival/src/modules/Text/.buildlib_Festival
/festival/src/modules/Text/make.depend
/festival/src/modules/UniSyn/.buildlib_Festival
/festival/src/modules/UniSyn/make.depend
/festival/src/modules/UniSyn_diphone/.buildlib_Festival
/festival/src/modules/UniSyn_diphone/make.depend
/festival/src/modules/base/.buildlib_Festival
/festival/src/modules/base/make.depend
/festival/src/modules/clunits/.buildlib_Festival
/festival/src/modules/clunits/make.depend
/festival/src/modules/clustergen/.buildlib_Festival
/festival/src/modules/clustergen/make.depend
/festival/src/modules/donovan/.buildlib_Festival
/festival/src/modules/donovan/make.depend
/festival/src/modules/hts_engine/.buildlib_Festival
/festival/src/modules/hts_engine/make.depend
/festival/src/modules/init_modules.cc
/festival/src/modules/parser/.buildlib_Festival
/festival/src/modules/parser/make.depend
/festival/src/modules/rxp/.buildlib_Festival
/festival/src/modules/rxp/make.depend
/speech_tools/audio/.buildlib_estbase
/speech_tools/audio/.buildlib_estools
/speech_tools/audio/.buildlib_eststring
/speech_tools/audio/make.depend
/speech_tools/base_class/.buildlib_estbase
/speech_tools/base_class/.buildlib_estools
/speech_tools/base_class/.buildlib_eststring
/speech_tools/base_class/inst_tmpl/.buildlib_estbase
/speech_tools/base_class/inst_tmpl/.buildlib_estools
/speech_tools/base_class/inst_tmpl/.buildlib_eststring
/speech_tools/base_class/inst_tmpl/make.depend
/speech_tools/base_class/make.depend
/speech_tools/base_class/string/.buildlib_estbase
/speech_tools/base_class/string/.buildlib_estools
/speech_tools/base_class/string/.buildlib_eststring
/speech_tools/base_class/string/make.depend
/speech_tools/bin/align
/speech_tools/bin/bcat
/speech_tools/bin/build_docbook_index
/speech_tools/bin/ch_lab
/speech_tools/bin/ch_track
/speech_tools/bin/ch_utt
/speech_tools/bin/ch_wave
/speech_tools/bin/cxx_to_docbook
/speech_tools/bin/design_filter
/speech_tools/bin/dp
/speech_tools/bin/est_examples
/speech_tools/bin/est_gdb
/speech_tools/bin/est_program
/speech_tools/bin/example_to_doc++
/speech_tools/bin/fringe_client
/speech_tools/bin/make_wagon_desc
/speech_tools/bin/na_play
/speech_tools/bin/na_record
/speech_tools/bin/ngram_build
/speech_tools/bin/ngram_test
/speech_tools/bin/ols
/speech_tools/bin/ols_test
/speech_tools/bin/pda
/speech_tools/bin/pitchmark
/speech_tools/bin/pm
/speech_tools/bin/raw_to_xgraph
/speech_tools/bin/resynth
/speech_tools/bin/scfg_make
/speech_tools/bin/scfg_parse
/speech_tools/bin/scfg_test
/speech_tools/bin/scfg_train
/speech_tools/bin/sig2fv
/speech_tools/bin/sigfilter
/speech_tools/bin/siod
/speech_tools/bin/spectgen
/speech_tools/bin/tex_to_images
/speech_tools/bin/tilt_analysis
/speech_tools/bin/tilt_synthesis
/speech_tools/bin/viterbi
/speech_tools/bin/wagon
/speech_tools/bin/wagon_test
/speech_tools/bin/wfst_build
/speech_tools/bin/wfst_run
/speech_tools/bin/wfst_train
/speech_tools/bin/xml_parser
/speech_tools/config.log
/speech_tools/config.status
/speech_tools/config/config
/speech_tools/config/modincludes.inc
/speech_tools/config/system.mak
/speech_tools/grammar/ngram/.buildlib_estbase
/speech_tools/grammar/ngram/.buildlib_estools
/speech_tools/grammar/ngram/.buildlib_eststring
/speech_tools/grammar/ngram/make.depend
/speech_tools/grammar/scfg/.buildlib_estbase
/speech_tools/grammar/scfg/.buildlib_estools
/speech_tools/grammar/scfg/.buildlib_eststring
/speech_tools/grammar/scfg/make.depend
/speech_tools/grammar/wfst/.buildlib_estbase
/speech_tools/grammar/wfst/.buildlib_estools
/speech_tools/grammar/wfst/.buildlib_eststring
/speech_tools/grammar/wfst/make.depend
/speech_tools/intonation/tilt/.buildlib_estbase
/speech_tools/intonation/tilt/.buildlib_estools
/speech_tools/intonation/tilt/.buildlib_eststring
/speech_tools/intonation/tilt/make.depend
/speech_tools/lib/est_mainline
/speech_tools/lib/est_program_makefile
/speech_tools/lib/libestbase.a
/speech_tools/lib/libestools.a
/speech_tools/lib/libeststring.a
/speech_tools/ling_class/.buildlib_estbase
/speech_tools/ling_class/.buildlib_estools
/speech_tools/ling_class/.buildlib_eststring
/speech_tools/ling_class/make.depend
/speech_tools/main/align
/speech_tools/main/bcat
/speech_tools/main/ch_lab
/speech_tools/main/ch_track
/speech_tools/main/ch_utt
/speech_tools/main/ch_wave
/speech_tools/main/design_filter
/speech_tools/main/dp
/speech_tools/main/fringe_client
/speech_tools/main/make.depend
/speech_tools/main/na_play
/speech_tools/main/na_record
/speech_tools/main/ngram_build
/speech_tools/main/ngram_test
/speech_tools/main/ols
/speech_tools/main/ols_test
/speech_tools/main/pda
/speech_tools/main/pitchmark
/speech_tools/main/scfg_make
/speech_tools/main/scfg_parse
/speech_tools/main/scfg_test
/speech_tools/main/scfg_train
/speech_tools/main/sig2fv
/speech_tools/main/sigfilter
/speech_tools/main/siod
/speech_tools/main/spectgen
/speech_tools/main/tilt_analysis
/speech_tools/main/tilt_synthesis
/speech_tools/main/viterbi
/speech_tools/main/wagon
/speech_tools/main/wagon_test
/speech_tools/main/wfst_build
/speech_tools/main/wfst_run
/speech_tools/main/wfst_train
/speech_tools/main/xml_parser
/speech_tools/make.include
/speech_tools/rxp/.buildlib_estbase
/speech_tools/rxp/.buildlib_estools
/speech_tools/rxp/.buildlib_eststring
/speech_tools/rxp/make.depend
/speech_tools/sigpr/.buildlib_estbase
/speech_tools/sigpr/.buildlib_estools
/speech_tools/sigpr/.buildlib_eststring
/speech_tools/sigpr/make.depend
/speech_tools/sigpr/pda/.buildlib_estbase
/speech_tools/sigpr/pda/.buildlib_estools
/speech_tools/sigpr/pda/.buildlib_eststring
/speech_tools/sigpr/pda/make.depend
/speech_tools/siod/.buildlib_estbase
/speech_tools/siod/.buildlib_estools
/speech_tools/siod/.buildlib_eststring
/speech_tools/siod/make.depend
/speech_tools/speech_class/.buildlib_estbase
/speech_tools/speech_class/.buildlib_estools
/speech_tools/speech_class/.buildlib_eststring
/speech_tools/speech_class/make.depend
/speech_tools/stats/.buildlib_estbase
/speech_tools/stats/.buildlib_estools
/speech_tools/stats/.buildlib_eststring
/speech_tools/stats/kalman_filter/.buildlib_estbase
/speech_tools/stats/kalman_filter/.buildlib_estools
/speech_tools/stats/kalman_filter/.buildlib_eststring
/speech_tools/stats/kalman_filter/make.depend
/speech_tools/stats/make.depend
/speech_tools/stats/wagon/.buildlib_estbase
/speech_tools/stats/wagon/.buildlib_estools
/speech_tools/stats/wagon/.buildlib_eststring
/speech_tools/stats/wagon/make.depend
/speech_tools/testsuite/.test_out
/speech_tools/testsuite/ch_track_script.out
/speech_tools/testsuite/ch_wave_script.out
/speech_tools/testsuite/complex_example
/speech_tools/testsuite/complex_example.out
/speech_tools/testsuite/complex_regression
/speech_tools/testsuite/complex_regression.out
/speech_tools/testsuite/deq_example
/speech_tools/testsuite/deq_example.out
/speech_tools/testsuite/deq_regression
/speech_tools/testsuite/deq_regression.out
/speech_tools/testsuite/feature_example
/speech_tools/testsuite/feature_example.out
/speech_tools/testsuite/feature_regression
/speech_tools/testsuite/feature_regression.out
/speech_tools/testsuite/handle_example
/speech_tools/testsuite/handle_example.out
/speech_tools/testsuite/handle_regression
/speech_tools/testsuite/handle_regression.out
/speech_tools/testsuite/hash_example
/speech_tools/testsuite/hash_example.out
/speech_tools/testsuite/hash_regression
/speech_tools/testsuite/hash_regression.out
/speech_tools/testsuite/kvl_example
/speech_tools/testsuite/kvl_example.out
/speech_tools/testsuite/kvl_regression
/speech_tools/testsuite/kvl_regression.out
/speech_tools/testsuite/ling_example
/speech_tools/testsuite/ling_example.out
/speech_tools/testsuite/ling_regression
/speech_tools/testsuite/ling_regression.out
/speech_tools/testsuite/list_example
/speech_tools/testsuite/list_example.out
/speech_tools/testsuite/list_regression
/speech_tools/testsuite/list_regression.out
/speech_tools/testsuite/lpc_script.out
/speech_tools/testsuite/make.depend
/speech_tools/testsuite/named_enum_example
/speech_tools/testsuite/named_enum_example.out
/speech_tools/testsuite/named_enum_regression
/speech_tools/testsuite/named_enum_regression.out
/speech_tools/testsuite/pathname_example
/speech_tools/testsuite/pathname_example.out
/speech_tools/testsuite/pathname_regression
/speech_tools/testsuite/pathname_regression.out
/speech_tools/testsuite/string_example
/speech_tools/testsuite/string_example.out
/speech_tools/testsuite/string_regression
/speech_tools/testsuite/string_regression.out
/speech_tools/testsuite/tilt_script.out
/speech_tools/testsuite/tmp/ch_track.ascii
/speech_tools/testsuite/tmp/ch_track.esps
/speech_tools/testsuite/tmp/ch_track.htk
/speech_tools/testsuite/tmp/ch_track.htk2
/speech_tools/testsuite/tmp/ch_track.track
/speech_tools/testsuite/tmp/ch_wave.cat
/speech_tools/testsuite/tmp/ch_wave.esps
/speech_tools/testsuite/tmp/ch_wave.nist
/speech_tools/testsuite/tmp/ch_wave.nist8
/speech_tools/testsuite/tmp/ch_wave.raw
/speech_tools/testsuite/tmp/ch_wave.raw.1
/speech_tools/testsuite/tmp/ch_wave.raw.2
/speech_tools/testsuite/tmp/ch_wave.raw.3
/speech_tools/testsuite/tmp/ch_wave.swab
/speech_tools/testsuite/tmp/ch_wave.t1
/speech_tools/testsuite/tmp/ch_wave.t2
/speech_tools/testsuite/tmp/ch_wave.tc1
/speech_tools/testsuite/tmp/ch_wave.tc2
/speech_tools/testsuite/tmp/ch_wave.tc3
/speech_tools/testsuite/tmp/ch_wave.tc4
/speech_tools/testsuite/tmp/ch_wave.wav
/speech_tools/testsuite/tmp/colour.map
/speech_tools/testsuite/tmp/colour_spanish.map
/speech_tools/testsuite/tmp/kdt_001.lpc
/speech_tools/testsuite/tmp/kdt_001.mfcc
/speech_tools/testsuite/tmp/kdt_001.res
/speech_tools/testsuite/tmp/sil1.wav
/speech_tools/testsuite/tmp/sil2.wav
/speech_tools/testsuite/tmp/tmp.map
/speech_tools/testsuite/tmp/tokbin.dat
/speech_tools/testsuite/tmp/w1.wav
/speech_tools/testsuite/tmp/w2.w2
/speech_tools/testsuite/tmp/w2.wav
/speech_tools/testsuite/tmp/w3.wav
/speech_tools/testsuite/tmp/w4.wav
/speech_tools/testsuite/tmp/wagon.tree
/speech_tools/testsuite/token_example
/speech_tools/testsuite/token_example.out
/speech_tools/testsuite/token_regression
/speech_tools/testsuite/token_regression.out
/speech_tools/testsuite/track_example
/speech_tools/testsuite/track_example.out
/speech_tools/testsuite/track_regression
/speech_tools/testsuite/track_regression.out
/speech_tools/testsuite/viterbi_script.out
/speech_tools/testsuite/wagon_script.out
/speech_tools/testsuite/xml_example
/speech_tools/testsuite/xml_example.out
/speech_tools/testsuite/xml_regression
/speech_tools/testsuite/xml_regression.out
/speech_tools/utils/.buildlib_estbase
/speech_tools/utils/.buildlib_estools
/speech_tools/utils/.buildlib_eststring
/speech_tools/utils/make.depend
